body {background:gray;}
span {background: greenyellow;}
div.box {
    width : 700px;
    height : 50px;
    margin : 40px;
    border-width : 30px; 
    padding : 20px;

    background-color: pink;

    border: 15px groove;
    border-color: yellow;
    border-radius :  50px 0px 40px 0px;

    }